    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-brand" style='margin-top:-10px'>
        <a href='/#/panel'><img id="brand" src="/images/citi.png" /></a> Citibike
    </div>
    <div class='nav navbar-nav navbar-right' style="margin-right:25px">
        <ul class='nav navbar-nav'>
            <li ng-click='showSignup()'><a href=''>Sign Up</a></li>
            <li ng-click='showLogin()'><a href=''>Log In</a></li>
            <li ng-click='logout()'><a href=''>Log Out</a></li>
        </ul>
    </div>
</nav>
<login></login>